html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body::-webkit-scrollbar {
	width: 5px;
}
/* Track */
body::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: #666b7a;
	border-radius: 10px;
}

textarea {
	width: 100%;
	height: 100%;
	padding: 1rem;
	background: #253237;
	color: white;
	outline: none;
	border: none;
}

.editorContainer {
	background-color: hsl(225, 6%, 25%);
	height: 50vh;
	display: flex;
}

.editorContainer .collapse {
	flex-grow: 0;
}

.outputContainer {
	height: 50vh;
}

.wrapper {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	background: hsl(225, 6%, 25%);
}

.title {
	display: flex;fo
	justify-content: space-between;
	background: hsl(225, 6%, 13%);
	color: #fff;
	padding: 0.5rem;
	padding-left: 1rem;
	border-radius: 0.5rem 0.5rem 0 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
   	font-weight: 700;
}

.control {
	width: 20px;
	height: 20px;
	position: relative;
	background: transparent;
	border: none;
	outline: none;
}

.control::before {
	content: "➕";
	position: absolute;
	top: -2px;
	left: -1px;
}

.close::before {
	content: "❌";
	position: absolute;
	top: -2px;
	left: -1px;
}
