@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
*{
     color: white;
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  width: 5px;
}
/* Track */
body::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #666b7a;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #253237;
  color: white;
  outline: none;
  border: none;
}
.main-title {
  display: flex;
}
h2 {
  margin: 0;
}
.editorContainer {
        
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: 100% ;

 
  height: 50vh;
  display: flex;
}

@media (max-width: 850px) {
  .editorContainer {
    flex-direction: column;
    height: 66vh;
  }
}

.editorContainer .collapse {
  flex-grow: 0;
}

.outputContainer {
  height: 50vh;
  user-select: none;
  border-bottom: 20px solid hsl(225, 6%, 25%);

}


.wrapper {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: hsl(225, 6%, 25%);
  position: relative;
}

.title {
  display: flex;
  justify-content: space-between;
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: 100% ;
  color: #fff;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.control {
  width: 20px;
  height: 20px;
  position: relative;
  background: transparent;
  opacity: 70%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 16px;
}

.control::before {
  content: '➕';
  position: absolute;
  top: -2px;
  left: -6px;
  margin: 8px;
}

/* .close::before {
  content: '❌';
  position: absolute;
  top: -2px;
  left: -6px;
  margin-top: 8px;
} */

.icon {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.clear {
  position: absolute;
  top: 65px;
  right: 15px;
  background: hsl(0, 0%, 54%);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 15px;
  opacity: 0.75;
  display: none;
  cursor: pointer;
}

.wrapper:hover .clear {
  display: block;
}

.clear:hover {
  opacity: 1;
}
.copy-btn {
  background: #212d31;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
  padding: 8px 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.25s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.copy-btn span {
  margin-right: 5px;
}
.copy-btn:hover {
  background: #3a505871;
}
